extends ../node_modules/jade-bootstrap/_bootstrap

append styles
  link(href="/stylesheets/navbar.css", rel='stylesheet').
  link(href="/stylesheets/listingview.css", rel='stylesheet').
  
block body
    .container
      +navbar("SWEN303 Marketplace", "dropdown_menu")
        ul.nav.navbar-nav
          +nav_item("/") Home
          +nav_item("/createNewListing") Create new listing
          +nav_item("/listings") Listings
        ul.nav.navbar-nav.navbar-right
          li
            a(href="#") Sign In
    .container
      .jumbotron
        form
          div(class="form-group row")
            label(class="col-md-2 control-label text-right") Category
            div(class="col-md-10")
              select(class="form-control", id="categorySelect")
                 option Books
                 option Computers
          hr
          div(class="form-group row")
            label(class="col-md-2 form-control-label text-right") Title
            div(class="col-md-10")
              input(type="text", class="form-control", id="inputTitle", placeholder="Title")
          hr
          div(class="form-group row")
            label(class="col-md-2 form-control-label text-right") Description
            div(class="col-md-10")
              textarea(class="form-control", rows="3", id="inputDescription")
          hr
          div(class="form-group row")
            label(class="col-md-2 form-control-label text-right") Price
            div(class="col-md-10")
              div(class="input-group col-md-4")
                div(class="input-group-addon") $
                input(type="text", class="form-control", id="inputPrice", placeholder="Amount")
                div(class="input-group-addon") .00
          hr
          div(class="form-group row")
            label(class="col-md-2 from-control-label text-right") Image
            div(class="col-md-10")
              input(type="text", class="form-control", id="inputTitle", placeholder="ImageURL")
          hr
          div(class="form-group row")
            
          
