extends ../node_modules/jade-bootstrap/_bootstrap

append styles
  link(href="/stylesheets/navbar.css", rel='stylesheet').
  link(href="/stylesheets/listingview.css", rel='stylesheet').
  
block body
    .container
      +navbar("SWEN303 Marketplace", "dropdown_menu")
        ul.nav.navbar-nav
          +nav_item("/") Home
          +nav_item("/createNewListing") Create new listing
          +nav_item("/listings") Listings
        ul.nav.navbar-nav.navbar-right
          li
            a(href="#") Sign In
      
        
