extends ../node_modules/jade-bootstrap/_bootstrap

block body
  +navbar("SWEN303 Marketplace", "dropdown_menu")
    +nav_item Home
    +nav_item Stock
    +nav_item("/sign-in") Sign in
   +list-group-links([{text:"Books", url:"#"}, {text:"Computers", url:"#"}, {text:"Home & Living", url:"#"}, {text:"Sports", url:"#"},],0)