extends ../node_modules/jade-bootstrap/_bootstrap

append styles
  link(href="/stylesheets/navbar.css", rel='stylesheet').
  link(href="/stylesheets/listingview.css", rel='stylesheet').
  
block body
    .container
      +navbar("SWEN303 Marketplace", "dropdown_menu")
          ul.nav.navbar-nav
            +nav_item ("/") Home
            +nav_item("/createnewlisting") Create new listing
            +nav_item("/listings") Listings
            +nav_item("/sold/1") Sold
          ul.nav.navbar-nav.navbar-right
            li
              +nav_item("/sign-in") Sign In
      .jumbotron
        h1 Categories
        div(class="list-group")
          a(type="button", class="list-group-item btn-block text-left", ng-click="submitCategoryID(1)", href="/listings") Books
          a(type="button", class="list-group-item btn-block text-left", ng-click="submitCategoryID(2)", href="/listings") Computers
          a(type="button", class="list-group-item btn-block text-left", ng-click="submitCategoryID(3)", href="/listings") Home & Living
          a(type="button", class="list-group-item btn-block text-left", ng-click="submitCategoryID(4)", href="/listings") Sports
          a(type="button", class="list-group-item btn-block text-left", ng-click="submitCategoryID(4)", href="/listings") Pets & animals
          
