extends ../node_modules/jade-bootstrap/_bootstrap

block body
    .container
      +navbar("SWEN303 Marketplace", "dropdown_menu")
        ul.nav.navbar-nav
          +nav_item("/") Home
          +nav_item("/create") Create new listing
        ul.nav.navbar-nav.navbar-right
          li
            a(href="#") Sign In
      ul(ng-repeat="listing in listingsData")
        div(class="item  col-xs-4 col-lg-4")
          div(class="thumbnail")
            img(class="group list-group-image" src="{{listing.imageurl}}")
            div(class="caption")
            h4(class="group inner list-group-item-heading"){{"Title: " + listing.title}}
            p(class="group inner list-group-item-text"){{"Desription: " + listing.description}}
            p(class="group inner list-group-item-text"){{"SellerID: " + listing.userid}}
            p(class="group inner list-group-item-text"){{"CategoryID: " + listing.category}}
            div(class="row")
              div(class="col-xs-12 col-md-6")
                p(class="lead"){{"Price: "+listing.price}}
              div(class="col-xs-12 col-md-6")
                a(class="btn btn-success" ng-href="http://localhost:3000/listing/{{listing.userid}}") Buy
                
        
