extends ../node_modules/jade-bootstrap/_bootstrap

block body
    .container
      +navbar("SWEN303 Marketplace", "dropdown_menu")
        ul.nav.navbar-nav
          +nav_item("/") Home
          +nav_item("/createnewlisting") Create new listing
          +nav_item("/listings") Listings
          +nav_item("/sold/1") Sold
        ul.nav.navbar-nav.navbar-right
          li
            a(href="#") Sign In
    .container
      div(class="col-md-2")
          p(class="lead" ) SWEN303
            div(class="list-group")
              button(type="button", class="list-group-item btn-block text-left", ng-click="submitCategoryID(1)") Books
              button(type="button", class="list-group-item btn-block text-left", ng-click="submitCategoryID(2)") Computers
              button(type="button", class="list-group-item btn-block text-left", ng-click="submitCategoryID(3)") Home & Living
              button(type="button", class="list-group-item btn-block text-left", ng-click="submitCategoryID('')") Show All           
      div(class="row list-group")
          div(class="item col-lg-2" ng-repeat="listing in listingsData | filter:{category: CategoryID}")
            div(class="thumbnail")
              img(class="group list-group-image" src="{{listing.imageurl}}")
              div(class="caption")
              h4(class="group inner list-group-item-heading"){{"Title: " + listing.title}}
              p(class="group inner list-group-item-text"){{"Desription: " + listing.description}}
              p(class="group inner list-group-item-text"){{"SellerID: " + listing.userid}}
              p(class="group inner list-group-item-text"){{"CategoryID: " + listing.category}}
              p(class="lead"){{"$"+listing.price}}
              div(class="row-fluid")
                a(class="btn btn-success btn-block" ng-href="http://localhost:3000/listing/{{listing.id}}") View
                a(class="btn btn-success btn-block" href="http://localhost:3000/buy") Buy
                
        
